.contact {
  padding: 8vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact .getin {
  width: 350px;
}

.contact .getin h2 {
  color: #ff7f00;
  font-size: 30px;
  font-weight: 800;
  line-height: 0.8;
  margin-bottom: 16px;
}

.contact .getin p {
  color: #686875;
  line-height: 24px;
  margin-bottom: 33px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e4ed;
}

.contact .getin h3 {
  color: #2c234d;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 15px;
}

.contact .getin .getin-details div {
  display: flex;
}

.contact .getin .getin-details div .get {
  width: auto;
  font-size: 16px;
  line-height: 22px;
  color: #ff7f00;
  margin-right: 20px;
}

.contact .getin .getin-details div p {
  font-size: 14px;
  border-bottom: none;
  line-height: 22px;
  margin-bottom: 15px;
}

.contact .form {
  width: 60%;
  background-color: #ffbf80;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.342);
}

.contact .form h4 {
  font-size: 24px;
  color: white;
  line-height: 30px;
  margin-bottom: 8px;
}

.contact .form .form-row {
  display: flex;
  gap: 20px;
}

.contact .form input,
.contact .form textarea {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  border: none;
  background-color: #fff;
  color: #7e7c87;
  outline: none;
  padding: 20px 30px;
  margin-bottom: 20px;
  font-family: inherit;
}

.contact .form button {
  font-size: 0.9rem;
  padding: 13px 25px;
  background: #ff7f00;
  border-radius: 5px;
  outline: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
}

/* .section-hero-contact {
  padding: 144px 96px 96px 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: linear-gradient(
      to right,
      rgba(36, 22, 7, 100),
      rgba(255, 127, 0, 0.3)
    ),
    url("../../assets/img/gallery/background\ tumpukan\ mi.avif");
  background-position: center;
  background-size: cover;
}

.title-contact {
  text-align: center;
  color: #804000;
  margin-bottom: 24px;
}

.title-contact h3 {
  font-weight: 400;
  text-decoration: underline;
}

.option-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-contact {
  background-color: #fff;
  height: 90px;
  width: 100%;
  margin: 16px 0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 5px 10px 8px -2px rgba(0, 0, 0, 0.29);
  transition: 0.3s ease;
  color: #ff9933;
}

.card-contact:hover {
  cursor: pointer;
  box-shadow: 5px 10px 15px 2px rgba(0, 0, 0, 0.29);
}

.card-contact .icon {
  width: fit-content;
  font-size: 48px;
  margin-left: 16px;
}
.card-contact p {
  font-size: 16px;
  font-weight: 900;
  margin-left: 24px;
}

.email-section {
  margin-top: 48px;
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
  background-color: #ffa54d;
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 5px 2px;
}

.email-section .section-contact-left {
  width: 40%;
}
.email-section .section-contact-right {
  width: 60%;
}

.email-section .section-contact-right h1 {
  margin-bottom: 24px;
  text-align: center;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.965);
}

.email-section form {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.email-section form input,
.email-section form textarea,
.email-section form button {
  width: 75%;
  margin-bottom: 8px;
  font-family: inherit;
  outline: none;
  padding: 8px;
  border-radius: 6px;
  padding: 12px;
  font-size: 18px;
  font-family: inherit !important;
  border-color: transparent;
  border-radius: 9px;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2);
}

.btn-send {
  background-color: #4c2600;
  font-family: inherit;
  color: #fff;
  padding: 12px;
}

.btn-send:hover {
  background-color: #ff7f00;
  color: #fff;
}

.email-section hr {
  width: 70%;
} */

/* Tablet */
@media only screen and (max-width: 780px) {
  .email-section {
    /* margin-top: 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .email-section .section-contact-left,
  .email-section .section-contact-right {
    width: 100%;
    margin-bottom: 20px;
  }

  .email-section form input,
  .email-section form textarea,
  .email-section form button {
    width: 100%;
  }
}

/* Mobile */
@media only screen and (max-width: 480px) {
  .section-hero-contact {
    padding: 144px 0 96px 0;
  }

  .email-section {
    width: 90%;
  }

  .title-contact {
    margin-bottom: 0;
  }

  .option-contact {
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
  }

  .card-contact {
    height: 90px;
    flex-direction: column;
    margin: 16px auto;
    width: 100px;
  }
  .card-contact .icon {
    /* background-color: red; */
    transform: scale(0.7);
    margin-left: 0;
  }

  .card-contact p {
    transform: scale(0.6);
    margin-left: 0;
    text-align: center;
  }

  .email-section .section-contact-right h1 {
    margin-bottom: 0;
    font-size: 20px;
  }

  .email-section form input,
  .email-section form textarea,
  .email-section form button {
    padding: 8px;
    font-size: 12px;
  }
}
